.banner {
    background-color:#65a37f;
    width:100%;
    height:70px;
    margin-bottom:40px;
}
.banner-text {
    top:15%;
    left:45%;
    position:absolute;
    transform:transform;
}

.body {
    background-color:#c2b4b4;